<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>319951094901-c5912mapkj94f7m7h24a239kpbfvbfa1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319951094901-c5912mapkj94f7m7h24a239kpbfvbfa1</string>
	<key>API_KEY</key>
	<string>AIzaSyDEQgqq0B0LWJJ8PKiK3GwfdN2iJyEBcv8</string>
	<key>GCM_SENDER_ID</key>
	<string>319951094901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>paradox.gAnalyticSample</string>
	<key>PROJECT_ID</key>
	<string>analyticssample-5add6</string>
	<key>STORAGE_BUCKET</key>
	<string>analyticssample-5add6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319951094901:ios:289199108632a9ae</string>
	<key>DATABASE_URL</key>
	<string>https://analyticssample-5add6.firebaseio.com</string>
</dict>
</plist>